header{
	color:white;
	display: flex;
	flex-wrap: wrap;
	max-width:600px;
	padding: 1px;
	border-radius:2em ;
	position: fixed;
	z-index: 20;
	margin: 6px;
	/* From https://css.glass */
	background: rgba(0, 0, 0, 0.66);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(6.7px);
	-webkit-backdrop-filter: blur(6.7px);
	border: 1px solid rgba(0, 0, 0, 0.71);
}
@media header(max-width:590px){
	header{
		width:40px;
		margin: -20%;
		margin-right: 8px;
	}
}

.navbar .menu{
	color:white;
	border-radius:2em;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	font-size: 20px;
    margin: 10px 3px;
}
.navbar .menu li{
	padding:0 15px;
}
.navbar .menu li a{
	display:flex;
	flex-direction: column;
	text-decoration: none;
	color: white;
	margin: 4px 4px;
	font-style: bold;
	text-shadow:1px 1px 7px lightyellow; ,-1px -1px 7px lightyellow;
	transition:all 0.3s;
}

.navbar .menu li a::after{
	content: "";
	background: green;
	height:2px;
	width:0px;
	transition: all 0.3s;
}
.navbar .menu li a:hover::after{
	width:100%;
}
.navbar .menu li a:hover{
	transform: scale(1.2);
}
