@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap')
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: white;
	font-family:Ubuntu;
}

.about{
	height:100vh;
 	display:flex;
 	gap-row: 10px;
 	flex-wrap: wrap;
}
.about .intro,.about .pic{
	margin:30vh 0px;
	width:100%;

}
.about .intro{
	display: flex;
	margin: auto;
	height: 60%;
	width: 50%;
	margin-top:15% ;
	margin-left: 5%;
	font-size:40px;
	justify-content: center;
	align-items: center;
	padding: 5px 5px;
}
.about .intro span{
	border-radius: 5px;
	box-shadow: 4px 4px 10px green,-4px -4px 7px green;
	background:green;
	color:white;
}
.about .pic{
	width: 40%;
	margin: auto;
	margin-right:1%;
	display: flex;
	justify-content: right;
}
.about .pic img{
	margin-right:20%;
	height:88%;
	width:40%;

}
@media (max-width: 500px){
	header{
		margin:-14vh auto;
	}
	.about{
		margin:15vh 0px;
	 	display:flex;
	 	flex-direction: column;
	 	column-gap: 10px;
	 	flex-wrap: wrap;
	 	padding: 10px;
	 	height: auto;
	}
	.about .intro{
		width: 90%;
		height: 40%;
		font-size:25px;
	}
	.about .pic{
		width: 60%;
	}
	.about .pic img{
		margin: auto;
		height:100%;
		width:100%;
	}
}


.cv{
	display: flex;
	flex-wrap: wrap;
	max-width: 100vw;
	max-height: 100vh;
/*	justify-content: center;
	align-items: center;*/
}
.cv .cv-img{
	height: 40%;
	display: grid;
	justify-items: center;
}
.cv .cv-img img{
	width: 50%;
}
.cv .cv-intro{
	height: 100%;
	margin: auto;
	font-size:40px;
	display: flex;
	flex-direction:column;
	justify-items: center;
}
.skills {
	margin:40% auto;
/*	margin-top:20% ;*/
	height: 60vh;
	display: flex;
	flex-direction:column;
	align-content: center;
	justify-items:center;
}
.skills h1{
	margin-bottom: 10%;
	margin-left: 10%;
	text-align: left;
}
.skills .lang{
	display:flex;
	flex-wrap: wrap;
	align-items:center;
	justify-content: center;
	list-style:none ;
	gap:20px;
}

.skills .lang li a img{
	width: 4em;
	height: 4em;
}
@media (max-width:400px){
	.skills .lang li a img{
		width: 3em;
		height: 3em;
	}
	.cv .cv-intro{
		font-size: 30px;
	}
}
.projects{
	overflow: none;
	margin: 5% 20px;
	margin-bottom: 20%;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
